/_build
.ipynb_checkpoints
/venv*
.jupyter_cache
jupyter_execute
.DS_Store
.vscode/
./Week1_Supercomputing/video/
./Week2_Parallel_Computers/video/
./Week3_Parallel_Computing/video/
./Week4_Computing_Simulations/video/
./Week5_Case_Studies/video/
