/_build
.ipynb_checkpoints
/venv*
.jupyter_cache
jupyter_execute
.DS_Store
.vscode/
content/Part1_Supercomputing/video/*
content/Part2_Parallel_Computers/video/*
content/Part3_Parallel_Computing/video/*
content/Part4_Computer_Simulations/video/*
content/Part5_Case_Studies/video/*
content/Weel1_Supercomputing/video/*
content/Week2_Parallel_Computers/video/*
content/Week3_Parallel_Computing/video/*
content/Week4_Computer_Simulations/video/*
content/Week5_Case_Studies/video/*
